$background-color-center: #867BB8;
$background-color-edge: #000000;
$background-layer: #202020;
$accent-color: #454545;
$primary-text-color: #454545;
$border-color: #454545

// Sidebar
$primary-text-color: #454545;
$highlighted-text-color: #ffffff;
$highlighted-text-bg: #343434, #212121;
$hover-bg-color: #232222;
$border-color: #454545;



